apiVersion: v1

{% if config_base_domain is defined %}
baseDomain: {{ config_base_domain }}
{% endif %}

compute:
{% if config_topology == 'ha' %}
{{ config_compute }}

{% elif config_topology == 'sno' %}
- name: worker
  replicas: 0
{% endif %}

controlPlane: {{ config_controlplane }}

metadata:
  name: {{ config_metadata_name }}

{% if config_networking %}
networking:
  clusterNetwork: {{ config_networking_clusternetwork }}
  machineNetwork: {{ config_networking_machinenetwork }}
  networkType: {{ config_networking_networktype }}
  serviceNetwork: {{ config_networking_servicenetwork }}
{% endif %}

{% if (config_platform is not defined) or (config_platform |length <= 0) %}
platform:
  {{ config_platform_default }}: {{ config_platform_spec_default }}
{% else %}
platform:
{% if (config_platform_spec is not defined) or (config_platform_spec |length <= 0) %}
  {{ config_platform }}: {}
{% else %}
  {{ config_platform }}: {{ config_platform_spec|d('{}') }}
{% endif %}
{% endif %}

{% if config_bootstrapinplace_disk is defined %}
bootstrapInPlace:
  installationDisk: {{ config_bootstrapinplace_disk }}
{% endif %}

publish: {{ config_publish }}
pullSecret: '{{ lookup("file", config_pull_secret_file) }}'
sshKey: |
    {{ config_ssh_key }}
