apiVersion: v1
kind: Pod
metadata:
  name: app3
  namespace: oci-csi
spec:
    containers:
    - name: app3
      image: centos
      command: ["/bin/sh"]
      args: ["-c", "while true; do echo $(date -u) >> /data/out.txt; sleep 5; done"]
      volumeMounts:
        - name: persistent-storage
          mountPath: /data
    volumes:
    - name: persistent-storage
      persistentVolumeClaim:
        claimName: oci-bv-claim3
