apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: oci-bv-claim
  namespace: {{ oci_samples_namespace | d('oci-samples') }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: oci-bv
  resources:
    requests:
      storage: 20Gi
