auth:
  region: {{ config_cluster_region }}
  useInstancePrincipals: true

# Assuming every resource in same compartment (TODO be more flexible)
compartment: {{ (cluster_state.networks | first).spec.compartment_id }}
vcn: {{ (cluster_state.networks | first).id }}

loadBalancer:
  securityListManagementMode: None
  subnet1: {{ _lb_subnet1 }}
  # we don't support multiple subnets
  #subnet2: {{ cluster_state.network.subnet2 | d('') }}

# Optional rate limit controls for accessing OCI API
rateLimiter:
  rateLimitQPSRead: 20.0
  rateLimitBucketRead: 5
  rateLimitQPSWrite: 20.0
  rateLimitBucketWrite: 5
