---
apiVersion: v1
kind: Secret
metadata:
  name: oci-volume-provisioner
  namespace: {{ oci_csi_namespace }}
data:
  config.yaml: {{ oci_ccm_secret_data | to_nice_yaml | ansible.builtin.b64encode }}
