---
apiVersion: v1
kind: Secret
metadata:
  name: oci-cloud-controller-manager
  namespace: {{ oci_ccm_namespace }}
data:
  cloud-provider.yaml: {{ oci_ccm_secret_data | to_nice_yaml | ansible.builtin.b64encode }}
