apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: oci-bv-claim3
  namespace: oci-csi
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: oci-bv
  resources:
    requests:
      storage: 20Gi
