--- # generate ignition files from a install directory

- name: Create | Ignitions | Run Check vars
  ansible.builtin.include_tasks: check.yaml

- name: Create | Ignitions | Run custom assertions
  ansible.builtin.include_tasks: create-assertions.yaml

- name: Create | Ignitions | Generate
  when:
    - _manifests.stat.exists
    - not(_metadata.stat.exists)
  block:
  - name: Create | Create ignition configs
    ansible.builtin.shell: |
      {{ bin_openshift_install }} create ignition-configs --dir {{ config_install_dir }}
    environment: "{{ config_installer_environment | d(omit) }}"

# Set data from ignitions
#: TODO
