{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "{{ userdata_config_source }}"
        }
      ]
    },
    "security": {
      "tls": {
        "certificateAuthorities": [
          {
            "source": "{{ userdata_config_ca_source }}"
          }
        ]
      }
    },
    "version": "3.2.0"
  }
}
