---
# - ansible.builtin.import_playbook: var_check_required.yaml

- name: okd-installer | Stack | Network | Config load
  ansible.builtin.import_playbook: config.yaml
  vars:
    mode: load

- name: okd-installer | Stack | Network
  hosts: '{{target | default("localhost")}}'
  connection: local
  vars:
    profile_path: "{{ playbook_dir }}/vars/{{ config_provider }}/profiles/{{ cluster_profile|d('default') }}"

  pre_tasks:
    - name: okd-installer | Stack | Network | Include Vars - User Provided
      ansible.builtin.include_vars:
        file: "{{ var_file }}"
      when: var_file is defined

    - name: okd-installer | Stack | Network | Include Vars - Profiles
      ansible.builtin.include_vars:
        file: "{{ profile_path }}/network.yaml"
      when: var_file is not defined

    - debug: var=cloud_networks

  roles:
    - cloud_network

  post_tasks:
    - debug: var=cloud_networks_state

- name: okd-installer | Stack | Network | Save state
  ansible.builtin.import_playbook: config.yaml
  vars:
    mode: save-state
    cluster_state: "{{ cluster_state | combine({'network': cloud_networks_state}) }}"
