apiVersion: v1

{% if config_base_domain is defined %}
baseDomain: {{ config_base_domain }}
{% endif %}

compute:
{{ config_compute | to_nice_yaml }}

controlPlane: {{ config_controlplane }}

metadata:
  name: {{ config_metadata_name }}

{% if config_networking %}
networking:
  clusterNetwork: {{ config_networking_clusterNetwork }}
  machineNetwork: {{ config_networking_machineNetwork }}
  networkType: {{ config_networking_networkType }}
  serviceNetwork: {{ config_networking_serviceNetwork }}
{% endif %}

{% if (config_platform is not defined) or (config_platform |length <= 0) %}
platform:
  {{ config_platform_default }}: {{ config_platform_spec_default }}
{% else %}
platform:
{% if (config_platform_spec is not defined) or (config_platform_spec |length <= 0) %}
  {{ config_platform }}: {}
{% else %}
  {{ config_platform }}: {{ config_platform_spec|d('{}') }}
{% endif %}
{% endif %}

publish: {{ config_publish }}
pullSecret: '{{ lookup("file", config_pull_secret_file) }}'
sshKey: |
    {{ config_ssh_key }}
